*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,169,253,0.9024859943977591) 95%, rgba(252,176,69,1) 100%);
    width:100%;
    min-height:100vh;
    color: #ffff;
    padding:10px;
}
.calculate h1{
font-size: 60px;
}
.inputbox{
    margin:40px;
    background-color: rgb(246, 236, 254);
    padding:35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#result{
   
 text-align: center;  
 color: rgb(19, 19, 206); 
}
.calculate{
    background-color: #d0ed92 ;
}
